<h1>ContactForm#new</h1>
<p>Find me in app/views/contact_form/new.html.erb</p>


<div class="container">
 <%= simple_form_for @contact_form do |f| %>
 <%= f.input :name, :required => false %>
 <%= f.input :email, :required => false %>
 <%= f.input :message, :as => :text, :required => false %>
 <%= f.input :nickname, :hint => 'Leave this field blank!' %>
 <%= f.button :submit, 'Send message' %>
 <% end %>
</div>

