<%= render "pages/nav-bar" %>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="margin-left-right">
  <div class="row margin-navbar-top">
    <div class="col-lg-4 padding-image-gallery">
      <%= image_tag ("kate2.png"), style: "width: 100%", class: "image-box-shadow" %>
      <%= image_tag ("kate3.png"), style: "width: 100%", class: "image-box-shadow" %>
    </div>
    <div class="col-lg-4 padding-image-gallery">
       <%= image_tag ("kate5.png"), style: "width: 100%", class: "image-box-shadow" %>
        <%= image_tag ("kate4.png"), style: "width: 100%", class: "image-box-shadow" %>
    </div>
    <div class="col-lg-4 padding-image-gallery">
       <%= image_tag ("kate6.png"), style: "width: 100%", class: "image-box-shadow" %>
        <%= image_tag ("kate7.png"), style: "width: 100%", class: "image-box-shadow" %>
    </div>
  </div>
</div>
<br>
<br>

<%= render "footer" %>
