
<br>
<br>
<div class="row">
  <div class="col-lg-4 padding-image-gallery">
    <%= image_tag ("kate2.png"), style: "width: 100%" %>
    <%= image_tag ("kate3.png"), style: "width: 100%" %>
  </div>
  <div class="col-lg-4 padding-image-gallery">
     <%= image_tag ("kate5.png"), style: "width: 100%" %>
      <%= image_tag ("kate4.png"), style: "width: 100%" %>
  </div>
  <div class="col-lg-4 padding-image-gallery">
     <%= image_tag ("kate6.png"), style: "width: 100%" %>
      <%= image_tag ("kate7.png"), style: "width: 100%" %>
  </div>
</div>
